:root {
  /* Neutrals */
  --neutral-100: #FEFEFE;
  --neutral-200: #F8F5F0;
  --neutral-300: #E0DED8;

  /* Text */
  --text-primary: #100f18;
  --text-secondary: #42454D;

  /* Accents */
  --accent-100: #E6F0EB; /* buttons and highlights */
  --accent-200: #98B3A9; /* hover states, details */
  --accent-300: #2F4A45; /* active elements, slight depth */

  /* Shadows */
  --shadow-light: 0px 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-medium: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: var(--neutral-100);
}
body {
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;

  &::placeholder {
    color: var(--text-secondary);
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
